#image {
  border-radius: 50%;
  width: 50%;
}

h2 {
  align-items: center;
  padding-left: 40%;
}

h3 {
  padding-left: 40%;
  margin: auto;
  margin-right: 50px;
}
#cotegauche {
  padding-left: 50px;
}
#container_droit {
  padding-left: 5px;
}
